.breadcrum {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    span {
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease-in-out;

        &:hover {
            color: var(--orange-color);
        }
    }

    svg {
        font-size: 1rem;
        margin-bottom: 2px;
        color: rgba(0, 0, 0, 0.5);
    }

    a:last-child {
        pointer-events: none;
    }
}
