.menu-content {
    display: flex;
    flex-direction: column;
    flex: 1 1;

    --search-btn-width: 3rem;
    --search-hight: 41px;
    --search-top-spacer: 9px;
    // --search-btn-width: 52px;s
}

.menu-handle {
    display: flex;
}
.menu-handle__search {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1;
    border-radius: 20px;
    padding: 5px 15px;
    margin-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(22, 24, 35, 0.06);

    input {
        font-size: 1.4rem;
        outline: none;
        border: none;
        width: 100%;
        background-color: transparent;
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(var(--search-top-spacer));
        height: calc(var(--search-hight) - var(--search-top-spacer) * 2);
        right: calc(var(--search-btn-width) + 16px);
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    .clear,
    .loading {
        position: absolute;
        right: calc(var(--search-btn-width) + 26px);
        top: 50%;
        transform: translateY(-50%);
        color: rgba(22, 24, 35, 0.34);
        background-color: transparent;
    }

    .loading {
        animation: spinner 1s linear infinite;
    }

    @keyframes spinner {
        from {
            transform: translateY(-50%) rotate(0);
        }
        to {
            transform: translateY(-50%) rotate(360deg);
        }
    }

    .menu-handle__search-btn {
        margin-left: auto;
        background-color: transparent;
        border: none;
        width: 3rem;
        height: 3rem;
    }
}

.menu-handle__featured {
    position: relative;
    margin-left: 20px;
}

.menu-handle__featured-current {
    display: flex;
    align-items: center;
    min-width: 16.5rem;
    padding: 5px 15px;
    line-height: 2;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    cursor: pointer;

    span {
        font-size: 1.4rem;
    }
    svg {
        margin-left: auto;
        width: 1.7rem;
        height: 1.7rem;
    }
}

.menu-handle__featured-list {
    position: absolute;
    z-index: 9999;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-top: 10px;
    padding: 7px 0;
    transform: translateY(13px);
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    width: 100%;
    background-color: #fff;
    transition: all 0.15s linear;

    .menu-handle__featured-item {
        font-size: 1.4rem;
        line-height: 1.8;
        padding: 6px 17px;
        transition: all 0.15s ease-out;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
    .menu-handle__featured-item:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }
}

.drop {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

@media (max-width: 600px) {
    .menu-content {
        margin-top: 15px;
    }

    .menu-handle {
        margin-bottom: 20px;
        display: block;

        .menu-handle__search {
            margin: 0 0 10px 0;
        }

        .menu-handle__featured {
            margin: 0;
        }
    }
}
