.pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    padding: 10px;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: var(--orange-color);
        color: var(--white);
    }
}

.active {
    background-color: var(--orange-color);
    color: var(--white);
}
